<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Contacts</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Keith James Seruyange</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto d-flex gap-3 fw-bold">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                    <a class="nav-link" href="{% url 'education' %}">Education</a>
                    <a class="nav-link active" aria-current="page" href="{% url 'contact' %}">Contact</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container p-5">
        <div class="card bg-dark text-white mx-auto p-3" style="width: 400px;">
            <h4 class="fw-semibold mb-3 text-center">My Contacts</h4>
            <p class="mb-2 text-center">
                <strong>Email:</strong>
                <span class="text-decoration-underline text-primary">kseruyange@student.refactory.academy</span>
            </p>
            <p class="mb-0 text-center">
                <strong>Phone:</strong>
                <span class="text-decoration-underline text-primary">+256-774-123-321</span>
            </p>
        </div>

    </div>
    <div class="container vh-60 d-flex flex-column justify-content-center align-items-center">
        <h2 class="shadow p-3 rounded bg-dark text-white">Contact Me</h2>
        <form class="shadow p-5 bg-dark text-white rounded" action="/contact/" method="post">
            {% csrf_token%}
            <div class="form-group">
                <label for="name">Name:</label>
                <input class="form-control" type="text" name="name" required placeholder="Enter your name">
            </div>
            <div class="form-group">
                <label for="email">Email Address:</label>
                <input class="form-control" type="email" name="email" placeholder="Enter your email address" required>
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" name="message" placeholder="Your Message" rows="5" cols="30"></textarea>
            </div>
            <div class="form-group mt-3">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
        {% if thank_you %}
        <div class="alert alert-success mt-3">
            <p>{{ thank_you }}</p>
        </div>
        {% endif %}
    </div>
    <!-- Bootstrap JS Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>